<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CFG Challenge II</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <h3 class="text-muted">Code First Girls - Challenge II</h3>
      </div>
      <div class="jumbotron">
      <div class="message">Thank you <strong>{{_name}}</strong></div>
      <div class="message">Please check your email: <strong>{{_email}}</strong></div>
      <div><h5>We learnt something about you:</h5></div>
      <div class="email">You live in: <strong>{{_city}}</strong></div>
      <div class="email">Where: <strong>{{_weather}}</strong></div>
      <div class="email">And you love: <strong>{{_animal}}</strong></div>
      </div>

      <a href="/showSignUp" class="btn btn-lg btn-primary btn-block">Start again</a>

      <footer class="footer">
        <p>&copy; Edyta Wrobel 2016</p>
      </footer>

    </div>
  </body>
</html>
