<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CFG Challenge II</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">

      <div class="header">
        <h3 class="text-muted">Code First Girls - Challenge II</h3>
      </div>
      <div class="jumbotron">
      <div class="name">Hello <strong>{{_name}}</strong></div>
      <!-- <div class="email">Email: {{_email}}</div> -->
      <div class="city">Your City: {{_city}}</div>
      <div class="animal">Favourite Animal: {{_animal}}</div>
      <br>
      <div class="weather">Weather info: {{_weather}}</div>
      <br>
      <br>
      <iframe src="{{_giphy}}" width="250px" height="200px" frameBorder="0" allowFullScreen></iframe>
      <br>
      <br>

      <form class="form-sendEmail" method="POST" action="/thankyou">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="sendEmail" value="" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required>
        <input id="sendEmail" type="submit" class="btn btn-lg btn-primary btn-block" value="Send email" />
      </form>
    </div>
      <footer class="footer">
        <p>&copy; Edyta Wrobel 2016</p>
      </footer>

    </div>
    <!-- <script src="../static/js.js"></script>" -->
  </body>
</html>
